
<!-- HEADER SECTION -->

<div class="uk-background uk-background-norepeat uk-background-cover uk-background-fixed uk-text-center" style="margin-bottom: -120px;">

  <!-- MENU SECTION -->

    <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>

        <div class="uk-navbar-left">

            <img src="../images/logo_1.png">

        </div>

        <div class="uk-navbar-right">

            <ul class="uk-navbar-nav">

                <li><a href="index.html">HOME</a></li>
                <li><a href="faq.html">FAQ</a></li>
                <li><a href="pals_online.html">PALS</a></li>
                <li><a href="bls_online.html">BLS</a></li>
                <li><a href="courses.html">COURSES</a></li>

            </ul>

        </div>

    </nav>

  <!-- END OF MENU SECTION -->

  <h1 style="color:white">{{page.title}}</h1>

</div>

<!-- END OF HEADER SECTION -->
<div class="section_3 uk-text-justify uk-container uk-card uk-card-default uk-card-body" style="margin-bottom: 30px; margin-top: 30px; font-size: 18px; box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);">

